<section>

<div id="wrapper">


<div id="middle">

  <div id="mainimage">
    <img src="/modules/core/client/img/aztec_image/novamain.png" alt="Aztec Hotel Lobby" style="width:100%;">




  <div class="bankforreserv"></div>

  </div>


<div id="contentinfo">

  <!--myke yourself at home 的短文-->
  <div id="">
    <div id="content">
      <div id="header">Nova Screen</div>
      <div id="box">
        <article class="box2 text-center">
          <h1>Bring a Perfect Visual Experience<span>with Nova Screen</span></h1>
          <div class="firstpara">
            NovaScreen Screens Spectrum Tab-Tension is the absolute solution for anyone who is looking for a high-quality electric motorized in-ceiling projection screen at a budget friendly price. Since 2002, NovaScreen Screens has become a global leader in projection screen manufacturing. NovaScreen Projection Screen is a simple, affordable screen that displays all you need with a bigger, brighter screen. Perfect for educational purposes, classrooms, offices, conference rooms, presentations, weddings, birthdays, indoor/outdoor movies, home theater and more. Watch your favorite movies, TV series, sports games and great for showing photos, music videos and gaming inside or outside. The screen with the included infrared (IR),radio frequency (RF)remote control, detach able 3-way wall switch(or through use of the RJ45 module) and wireless 12 volt projector trigger to projector's power for easy operation. 2-Year Manufactures Warranty and Lifetime Product Support by NovaScreen.  
          </div>

          <div class="tripadvisor-home">
            <div class="tripadvisor-certificate-main">
              <div class="ajax-tripadvisor">&nbsp;</div>
            </div>
          </div>
        </article>
      </div>
    </div>
    <div class="clear"> </div>
  </div>
  
</div>



</div>

</div>


</section>
