<section>
<div id="">

            <div class="content-container">
                <div class="main">
                    <section class="brand_bannerWrap__cwN6t">
                        <div id="mainimage">
                            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                   <!-- <li data-target="#myCarousel" data-slide-to="1"></li>
                                    <li data-target="#myCarousel" data-slide-to="2"></li>
                                    <li data-target="#myCarousel" data-slide-to="3"></li>
                                    <li data-target="#myCarousel" data-slide-to="4"></li>-->
                                </ol>


                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img src="/modules/about-us/client/img/dz02g1kgtiysz.cloudfront.net/deals/files/main.png" alt="1" style="width:100%;">
                                    </div>

                                    <!--<div class="item">
                                        <img src="/modules/about-us/client/img/dz02g1kgtiysz.cloudfront.net/deals/files/210907_193105_banner1-1-1-1-1.jpg" alt="2" style="width:100%;">
                                    </div>
    
                                    <div class="item">
                                        <img src="/modules/about-us/client/img/dz02g1kgtiysz.cloudfront.net/deals/files/210916_140644_bannerpc3-1-1.jpg" alt="3" style="width:100%;">
                                    </div>

                                    <div class="item">
                                        <img src="/modules/about-us/client/img/dz02g1kgtiysz.cloudfront.net/deals/files/210916_140650_bannerpc4-1-1.jpg" alt="4" style="width:100%;">
                                    </div>
    
                                    <div class="item">
                                        <img src="/modules/about-us/client/img/dz02g1kgtiysz.cloudfront.net/deals/files/210907_193105_banner1-1-1-1-1.jpg" alt="5" style="width:100%;">
                                    </div>
-->
                                </div>

                                <!-- Left and right controls -->
                               <!-- <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            -->
                            </div>
                        </div>
                    </section>
                    <section class="brand_titleWrap__3UMkw brand_title__CIUd6 content">
                        <h2>Evivas</h2>
                        <h2>Expert in Projector Screen</h2>
                    </section>

                    <section class="brand_videoWrap__24sAF">
                        <video class="brand_videoStyle__3pmjp" id="myVideo" src="/modules/about-us/client/img/projectorScreen/video.mp4" poster="/modules/about-us/client/img/projectorScreen/screenshot.png" muted=""></video>
                        <div class="brand_videoMask__mwLd9">
                            <button type="button" ng-click="playVid()" ng-if="showButton">
                                <img src="/modules/about-us/client/img/dix7fd4yse9rd.cloudfront.net/s/beta-eufy-us/product/7041756364969/files/1628646500929_play.png" alt="video"/>
                            </button>
                        </div>
                    </section>


                    <section class="brand_bannerWrap__cwN6t brand_setImage__2ZUxw ">

                    </section>
                    <section class="brand_grey__36tlZ">

                        <div class="content">
                            <div class="brand_titleWrap__3UMkw">
                                <h1>Why Pick Evivas
                                </h1>
                                <p>Choose Evivas for uncompromising quality, superior visuals, customization options, easy installation, exceptional customer support, and great value for money.</p>
                                <p>Technology and Life, Humans and the World: Filling Life with More Possibilities and Excitement</p>
                            </div>

                            <div class="brand_pcShow__14iEJ">
                                <img src="/modules/about-us/client/img/projectorScreen/Picture1.jpg" alt="product"/>
                            </div>
                            <div class="brand_mobShow__Xl3AL">
                                <img src="/modules/about-us/client/img/projectorScreen/Picture1.jpg" alt="product"/>
                            </div>

                            <ul class="brand_brand__PblWt">
                                <li class="false false">
                                    <img src="/modules/about-us/client/img/dz02g1kgtiysz.cloudfront.net/deals/files/motor.png" alt="img"/>
                                    <div class="brand_brandContent__rdOdD">
                                        <h1>Expert in Tab-tension Screen</h1>
                                        <p>Committed to using top-tier motor and screen materials from renowned brands.</p>
                                    </div>
                                </li>
                                <li class="brand_pcShow__14iEJ false">
                                    <div class="brand_brandContent__rdOdD">
                                        <h1>Bestselling in multiple countries</h1>
                                        <p>Bestselling in over 15 countries and regions worldwide</p>
                                    </div>
                                    <img src="/modules/about-us/client/img/dz02g1kgtiysz.cloudfront.net/deals/files/buyer.png" alt="img"/>
                                </li>
                                <li class="false brand_mobShow__Xl3AL">
                                    <img src="/modules/about-us/client/img/dz02g1kgtiysz.cloudfront.net/deals/files/buyer.png" alt="img"/>
                                    <div class="brand_brandContent__rdOdD">
                                        <h1>Bestselling in multiple countries</h1>
                                    </div>
                                </li>
                                <li class="false false">
                                    <img src="/modules/about-us/client/img/dz02g1kgtiysz.cloudfront.net/deals/files/logo.png" alt="img"/>
                                    <div class="brand_brandContent__rdOdD">
                                        <h1>Focused on innovative development</h1>
                                        <p>11 research and development patents."</p>
                                    </div>
                                </li>
                        </div>
                    </section>
                    <section class="content brand_chooseWrap__2ZzI0">
                        <h1 class="brand_chooseH1__4eU_w">About Our Factory</h1>
                        <ul class="brand_choose__2AKKp">
                            <li>
                                <img src="/modules/about-us/client/img/projectorScreen/1.webp" alt="Nano 20W快充充电器"/>
                            </li>
                            <li>
                                <img src="/modules/about-us/client/img/projectorScreen/2.webp" alt="GaN 第二代“超能充”系列"/>
                            </li>
                            <li>
                                <img src="/modules/about-us/client/img/projectorScreen/6.webp" alt="安克拉车线"/>
                            </li>
                            <li>
                                <img src="/modules/about-us/client/img/projectorScreen/4.webp" alt="安克超极充"/>
                            </li>
                            <li>
                                <img src="/modules/about-us/client/img/projectorScreen/5.webp" alt="航海王联名系列"/>
                            </li>
                        </ul>
                    </section>

                </div>
            </div>

</div>
</section>

<script type="text/javascript">
  // Instantiate the Bootstrap carousel
$('.multi-item-carousel').carousel({
  interval: false
});

// for every slide in carousel, copy the next slide's item in the slide.
// Do the same for the next, next item.
$('.multi-item-carousel .item').each(function(){
  var next = $(this).next();
  if (!next.length) {
    next = $(this).siblings(':first');
  }
  next.children(':first-child').clone().appendTo($(this));

  if (next.next().length>0) {
    next.next().children(':first-child').clone().appendTo($(this));
  } else {
    $(this).siblings(':first').children(':first-child').clone().appendTo($(this));
  }
});
</script>