<section>
<div id="">

            <div class="content-container">
                <div class="main">
                    <section class="brand_bannerWrap__cwN6t">
                        <div class="Slider_Slider__2Yx31 Slider-container">
                            <div class="slick-slider slick-initialized" dir="ltr">
                                <button type="button" data-role="none" class="slick-arrow slick-prev" style="display:block">
                                <!-- -->
                                Previous</button>
                                <div class="slick-list">
                                    <div class="slick-track" style="width:1100%;left:-100%">
                                        <div data-index="-1" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true" style="width:9.090909090909092%">
                                            <div>
                                                <a class="bannerSection undefined" href="#" target="_blank" rel="noreferrer" tabindex="-1" style="width:100%;display:inline-block">
                                                    <img class="main showPc" src="/modules/about-us/client/img/dz02g1kgtiysz.cloudfront.net/deals/files/210916_140732_bannerpc5-1-1.jpg" alt="banner"/>
                                                    <img class="main showMobile" src="/modules/about-us/client/img/dz02g1kgtiysz.cloudfront.net/deals/files/210916_141139_banner5-1-1.jpg" alt="banner"/>
                                                    <div class="content"></div>
                                                </a>
                                            </div>
                                        </div>
                                        <div data-index="0" class="slick-slide slick-active slick-current" tabindex="-1" aria-hidden="false" style="outline:none;width:9.090909090909092%">
                                            <div>
                                                <a class="bannerSection undefined" href="#" target="_blank" rel="noreferrer" tabindex="-1" style="width:100%;display:inline-block">
                                                    <img class="main showPc" src="/modules/about-us/client/img/dz02g1kgtiysz.cloudfront.net/deals/files/210907_193105_banner1-1-1-1-1.jpg" alt="banner"/>
                                                    <img class="main showMobile" src="/modules/about-us/client/img/dz02g1kgtiysz.cloudfront.net/deals/files/210907_193221_banner2-1-1.jpg" alt="banner"/>
                                                    <div class="content"></div>
                                                </a>
                                            </div>
                                        </div>
                                        <div data-index="1" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline:none;width:9.090909090909092%">
                                            <div>
                                                <a class="bannerSection undefined" href="#" target="_blank" rel="noreferrer" tabindex="-1" style="width:100%;display:inline-block">
                                                    <img class="main showPc" src="/modules/about-us/client/img/dz02g1kgtiysz.cloudfront.net/deals/files/210916_140411_bannerpc2-1-1.jpg" alt="banner"/>
                                                    <img class="main showMobile" src="/modules/about-us/client/img/dz02g1kgtiysz.cloudfront.net/deals/files/210916_141030_banner2-1-1.jpg" alt="banner"/>
                                                    <div class="content"></div>
                                                </a>
                                            </div>
                                        </div>
                                        <div data-index="2" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline:none;width:9.090909090909092%">
                                            <div>
                                                <a class="bannerSection undefined" href="#" target="_blank" rel="noreferrer" tabindex="-1" style="width:100%;display:inline-block">
                                                    <img class="main showPc" src="/modules/about-us/client/img/dz02g1kgtiysz.cloudfront.net/deals/files/210916_140644_bannerpc3-1-1.jpg" alt="banner"/>
                                                    <img class="main showMobile" src="/modules/about-us/client/img/dz02g1kgtiysz.cloudfront.net/deals/files/210916_141057_banner3-1-1.jpg" alt="banner"/>
                                                    <div class="content"></div>
                                                </a>
                                            </div>
                                        </div>
                                        <div data-index="3" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline:none;width:9.090909090909092%">
                                            <div>
                                                <a class="bannerSection undefined" href="#" target="_blank" rel="noreferrer" tabindex="-1" style="width:100%;display:inline-block">
                                                    <img class="main showPc" src="/modules/about-us/client/img/dz02g1kgtiysz.cloudfront.net/deals/files/210916_140650_bannerpc4-1-1.jpg" alt="banner"/>
                                                    <img class="main showMobile" src="/modules/about-us/client/img/dz02g1kgtiysz.cloudfront.net/deals/files/210916_141134_banner4-1-1.jpg" alt="banner"/>
                                                    <div class="content"></div>
                                                </a>
                                            </div>
                                        </div>
                                        <div data-index="4" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline:none;width:9.090909090909092%">
                                            <div>
                                                <a class="bannerSection undefined" href="#" target="_blank" rel="noreferrer" tabindex="-1" style="width:100%;display:inline-block">
                                                    <img class="main showPc" src="/modules/about-us/client/img/dz02g1kgtiysz.cloudfront.net/deals/files/210916_140732_bannerpc5-1-1.jpg" alt="banner"/>
                                                    <img class="main showMobile" src="/modules/about-us/client/img/dz02g1kgtiysz.cloudfront.net/deals/files/210916_141139_banner5-1-1.jpg" alt="banner"/>
                                                    <div class="content"></div>
                                                </a>
                                            </div>
                                        </div>
                                        <div data-index="5" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true" style="width:9.090909090909092%">
                                            <div>
                                                <a class="bannerSection undefined" href="#" target="_blank" rel="noreferrer" tabindex="-1" style="width:100%;display:inline-block">
                                                    <img class="main showPc" src="/modules/about-us/client/img/dz02g1kgtiysz.cloudfront.net/deals/files/210907_193105_banner1-1-1-1-1.jpg" alt="banner"/>
                                                    <img class="main showMobile" src="/modules/about-us/client/img/dz02g1kgtiysz.cloudfront.net/deals/files/210907_193221_banner2-1-1.jpg" alt="banner"/>
                                                    <div class="content"></div>
                                                </a>
                                            </div>
                                        </div>
                                        <div data-index="6" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true" style="width:9.090909090909092%">
                                            <div>
                                                <a class="bannerSection undefined" href="#" target="_blank" rel="noreferrer" tabindex="-1" style="width:100%;display:inline-block">
                                                    <img class="main showPc" src="/modules/about-us/client/img/dz02g1kgtiysz.cloudfront.net/deals/files/210916_140411_bannerpc2-1-1.jpg" alt="banner"/>
                                                    <img class="main showMobile" src="/modules/about-us/client/img/dz02g1kgtiysz.cloudfront.net/deals/files/210916_141030_banner2-1-1.jpg" alt="banner"/>
                                                    <div class="content"></div>
                                                </a>
                                            </div>
                                        </div>
                                        <div data-index="7" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true" style="width:9.090909090909092%">
                                            <div>
                                                <a class="bannerSection undefined" href="#" target="_blank" rel="noreferrer" tabindex="-1" style="width:100%;display:inline-block">
                                                    <img class="main showPc" src="/modules/about-us/client/img/dz02g1kgtiysz.cloudfront.net/deals/files/210916_140644_bannerpc3-1-1.jpg" alt="banner"/>
                                                    <img class="main showMobile" src="/modules/about-us/client/img/dz02g1kgtiysz.cloudfront.net/deals/files/210916_141057_banner3-1-1.jpg" alt="banner"/>
                                                    <div class="content"></div>
                                                </a>
                                            </div>
                                        </div>
                                        <div data-index="8" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true" style="width:9.090909090909092%">
                                            <div>
                                                <a class="bannerSection undefined" href="#" target="_blank" rel="noreferrer" tabindex="-1" style="width:100%;display:inline-block">
                                                    <img class="main showPc" src="/modules/about-us/client/img/dz02g1kgtiysz.cloudfront.net/deals/files/210916_140650_bannerpc4-1-1.jpg" alt="banner"/>
                                                    <img class="main showMobile" src="/modules/about-us/client/img/dz02g1kgtiysz.cloudfront.net/deals/files/210916_141134_banner4-1-1.jpg" alt="banner"/>
                                                    <div class="content"></div>
                                                </a>
                                            </div>
                                        </div>
                                        <div data-index="9" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true" style="width:9.090909090909092%">
                                            <div>
                                                <a class="bannerSection undefined" href="#" target="_blank" rel="noreferrer" tabindex="-1" style="width:100%;display:inline-block">
                                                    <img class="main showPc" src="/modules/about-us/client/img/dz02g1kgtiysz.cloudfront.net/deals/files/210916_140732_bannerpc5-1-1.jpg" alt="banner"/>
                                                    <img class="main showMobile" src="/modules/about-us/client/img/dz02g1kgtiysz.cloudfront.net/deals/files/210916_141139_banner5-1-1.jpg" alt="banner"/>
                                                    <div class="content"></div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" data-role="none" class="slick-arrow slick-next" style="display:block">
                                <!-- -->
                                Next</button>
                                <ul style="display:block" class="slick-dots">
                                    <li class="slick-active">
                                        <button>1</button>
                                    </li>
                                    <li class="">
                                        <button>2</button>
                                    </li>
                                    <li class="">
                                        <button>3</button>
                                    </li>
                                    <li class="">
                                        <button>4</button>
                                    </li>
                                    <li class="">
                                        <button>5</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>
                    <section class="brand_titleWrap__3UMkw brand_title__CIUd6 content">
                        <h1>Anker安克</h1>
                        <h1>全球高品质智能充电专家</h1>
                    </section>

                    <section class="brand_videoWrap__24sAF">
                        <video class="brand_videoStyle__3pmjp" id="myVideo" src="/modules/about-us/client/img/projectorScreen/video.mp4" poster="/modules/about-us/client/img/dz02g1kgtiysz.cloudfront.net/deals/files/210907_122419_202197-122012-1-1-1.jpg" muted=""></video>
                        <div class="brand_videoMask__mwLd9">
                            <button type="button" ng-click="playVid()" ng-if="showButton">
                                <img src="/modules/about-us/client/img/dix7fd4yse9rd.cloudfront.net/s/beta-eufy-us/product/7041756364969/files/1628646500929_play.png" alt="video"/>
                            </button>
                        </div>
                    </section>


                    <section class="brand_bannerWrap__cwN6t brand_setImage__2ZUxw ">
                        <div class="brand_pcShow__14iEJ">
                            <img src="/modules/about-us/client/img/dz02g1kgtiysz.cloudfront.net/deals/files/210830_141012_product.jpg" alt="product"/>
                        </div>
                        <div class="brand_mobShow__Xl3AL">
                            <img src="/modules/about-us/client/img/dz02g1kgtiysz.cloudfront.net/deals/files/210907_140202_202197-14111-1-1-1.jpg" alt="product"/>
                        </div>
                    </section>
                    <section class="brand_grey__36tlZ">
                        <div class="content">
                            <div class="brand_titleWrap__3UMkw">
                                <h1>为什么选择 Anker 安克
                                <!-- -->
                                </h1>
                                <p>Anker安克，用更高品质的充电产品，确保数码设备时刻满电在线从而更好地连接</p>
                                <p>科技与生活、人与世界，让生活充满更多可能和精彩</p>
                            </div>
                            <ul class="brand_brand__PblWt">
                                <li class="false false">
                                    <img src="/modules/about-us/client/img/dz02g1kgtiysz.cloudfront.net/deals/files/210902_142610_1.jpg" alt="img"/>
                                    <div class="brand_brandContent__rdOdD">
                                        <h1>专注充电小事  实力成就品质</h1>
                                        <p>坚持使用大品牌原装同厂芯片</p>
                                        <p>苹果快充现均通过官方MFi认证</p>
                                        <p>获得包括红点奖在内的21个国际大奖</p>
                                    </div>
                                </li>
                                <li class="brand_pcShow__14iEJ false">
                                    <div class="brand_brandContent__rdOdD">
                                        <h1>畅销全球多国  服务近亿用户</h1>
                                        <p>连续3年蝉联“Brand Z中国出海品牌”Top 10</p>
                                        <p>畅销100多个国家和地区</p>
                                        <p>全球用户近亿欧美市场线上销量冠军*</p>
                                    </div>
                                    <img src="/modules/about-us/client/img/dz02g1kgtiysz.cloudfront.net/deals/files/210902_142613_2.jpg" alt="img"/>
                                </li>
                                <li class="false brand_mobShow__Xl3AL">
                                    <img src="/modules/about-us/client/img/dz02g1kgtiysz.cloudfront.net/deals/files/210902_142613_2.jpg" alt="img"/>
                                    <div class="brand_brandContent__rdOdD">
                                        <h1>畅销全球多国  服务近亿用户</h1>
                                        <p>连续3年蝉联“Brand Z中国出海品牌”Top 10</p>
                                        <p>畅销100多个国家和地区</p>
                                        <p>全球用户近亿欧美市场线上销量冠军*</p>
                                    </div>
                                </li>
                                <li class="false false">
                                    <img src="/modules/about-us/client/img/dz02g1kgtiysz.cloudfront.net/deals/files/210902_142615_3.jpg" alt="img"/>
                                    <div class="brand_brandContent__rdOdD">
                                        <h1>研发投入领先  创新驱动发展</h1>
                                        <p>超1000个知识产权，10个研发专利</p>
                                        <p>发明PIQ 3.0 技术，兼容苹果安卓</p>
                                        <p>首个将氮化镓技术引入充电产品</p>
                                    </div>
                                </li>
                            </ul>
                            <p class="brand_source__i3ADO">*销量数据来自北美、欧洲、日本等国家地区和亚马逊平台</p>
                        </div>
                    </section>
                    <section class="content brand_chooseWrap__2ZzI0">
                        <h1 class="brand_chooseH1__4eU_w">Anker安克人气产品</h1>
                        <ul class="brand_choose__2AKKp">
                            <li>
                                <img src="/modules/about-us/client/img/dz02g1kgtiysz.cloudfront.net/deals/files/210902_142616_4.jpg" alt="Nano 20W快充充电器"/>
                                <div>
                                    <h1>Nano 20W快充充电器</h1>
                                    <p>20W旗舰爆款  充电器断货王</p>
                                </div>
                            </li>
                            <li>
                                <img src="/modules/about-us/client/img/dz02g1kgtiysz.cloudfront.net/deals/files/210902_142617_5.jpg" alt="GaN 第二代“超能充”系列"/>
                                <div>
                                    <h1>GaN 第二代“超能充”系列</h1>
                                    <p>航天黑科技 一个实现多设备充电</p>
                                </div>
                            </li>
                            <li>
                                <img src="/modules/about-us/client/img/dz02g1kgtiysz.cloudfront.net/deals/files/210902_142617_6.jpg" alt="安克拉车线"/>
                                <div>
                                    <h1>安克拉车线</h1>
                                    <p>“真能拉车”  刷新数据线耐用性</p>
                                </div>
                            </li>
                            <li>
                                <img src="/modules/about-us/client/img/dz02g1kgtiysz.cloudfront.net/deals/files/210902_142618_7.jpg" alt="安克超极充"/>
                                <div>
                                    <h1>安克超极充</h1>
                                    <p>充电器+充电宝  二合一黑科技</p>
                                </div>
                            </li>
                            <li>
                                <img src="/modules/about-us/client/img/dz02g1kgtiysz.cloudfront.net/deals/files/210902_142619_8.jpg" alt="航海王联名系列"/>
                                <div>
                                    <h1>航海王联名系列</h1>
                                    <p>疾速满电 和草帽一伙阳光起航</p>
                                </div>
                            </li>
                        </ul>
                    </section>
                    <section class="brand_bornWrap__2S7Kl">
                        <div class="brand_pcShow__14iEJ brand_bornPCImageStyle__hZ14h">
                            <img src="/modules/about-us/client/img/dz02g1kgtiysz.cloudfront.net/deals/files/210902_142620_9.jpg" alt="pcImage"/>
                        </div>
                        <div class="brand_mobShow__Xl3AL brand_bornPCImageStyle__hZ14h">
                            <img src="/modules/about-us/client/img/dz02g1kgtiysz.cloudfront.net/deals/files/210903_184356_9.jpg" alt="mobileImage"/>
                        </div>
                        <div class="brand_bornContent__2Jvdm">
                            <h1>Anker安克的诞生</h1>
                            <div class="brand_bornText__1SJ2G">
                                <p>创始人阳萌在担任谷歌高级工程师期间， 因不满中国制造在海外被打上低端、廉价的标签，立志以高品质的中国产品， 改变外国人对中国制造的偏见。</p>
                                <p>秉持这一初衷，阳萌决定归国创业，并于2011年10月在家乡长沙成立了湖南海翼电子商务有限公司，同时面向全球注册了“Anker”品牌。</p>
                                <p>肩负“弘扬中国制造品质”使命的“Anker”， 由此诞生。“Anker”源自德语，即“锚”， 代表着不折不挠、奋勇向前的意志。</p>
                            </div>
                        </div>
                    </section>
                    <section class="content">
                        <h1 class="brand_growingTitle__1XevL">Anker安克的成长</h1>
                        <div class="brand_growingWrap__17rpV">
                            <ul class="brand_growing__2h427">
                                <li>
                                    <p>2021</p>
                                    <p>在深圳召开中国首场发布会，正式高调发力中国市场</p>
                                </li>
                                <li>
                                    <p>2020</p>
                                    <p>位列 BrandZ™ 2020年中国全球化品牌 50 强第 11 名在天猫、京东的第三方充电器品类份额榜单中排名第一</p>
                                </li>
                                <li>
                                    <p>2019</p>
                                    <p>入选《2019 福布斯中国 AIoT 百强企业评选》国际智能品牌位于“Brand Z™ 中国出海品牌 50 强”第 10 名，并连续 3 年入选 Top105 款产品成功登陆 Apple 官方商店</p>
                                </li>
                                <li>
                                    <p>2018</p>
                                    <p>获亚马逊全球开店年度卖家大奖位于“Brand Z™ 中国出海品牌 50 强”第 7 名，获“成长最快消费电子品牌”奖</p>
                                </li>
                                <li>
                                    <p>2017</p>
                                    <p>位于“BrandZ™ 中国出海品牌 30 强”第 8 名成为 Google Assistant 在全球范围内挑选的首批 10 个合作伙伴之一入围 Internet Retailer 美国权威电商研究机构的“年度全球电商奖”</p>
                                </li>
                                <li>
                                    <p>2016</p>
                                    <p>入驻全球家用电器和电子产品零售集团百思买和沃尔玛</p>
                                </li>
                                <li>
                                    <p>2015</p>
                                    <p>获亚马逊“杰出中国制造奖”在国内京东旗舰店、天猫旗舰店上线，正式布局国内市场</p>
                                </li>
                                <li>
                                    <p>2014</p>
                                    <p>anker 多款产品成为 Amazon 北美、欧洲、日本等市场在移动电源品类获 #1 Best seller</p>
                                </li>
                                <li>
                                    <p>2013</p>
                                    <p>首创 PowerIQ™ 技术，引领行业走向技术升级的新里程碑</p>
                                </li>
                                <li>
                                    <p>2012</p>
                                    <p>集团深圳研发中心（PDC）成立获 Amazon“2012 假日销量冠军”</p>
                                </li>
                                <li>
                                    <p>2011</p>
                                    <p>Anker 品牌在美国加州注册, 并成为全球注册品牌通过 Amazon 进入美国、英国、德国、法国、意大利等欧美市场</p>
                                </li>
                            </ul>
                            <p class="brand_growingWrap_p__1Jrpr">* 来源欧睿信息咨询（上海）有限公司，按2020年零售额计，基于2021年11月完成的调研。数码充电品牌定义为75%以上零售业绩都是数码充电设备贡献的品牌。数码充电设备包括：充电头、无线充电器、移动电源、数据线。</p>
                        </div>
                    </section>
                </div>
            </div>

</div>
</section>
