<section>
    <div class="page-header">
        <section id="header">Purchase histories</section>
    </div>

    <div id="yourOrders" role='main'>
        <div id="yourOrdersContent">
            <div id="ordersContainer">
                <div class="list-group" ng-init="find()">

             <!--       <div ng-repeat="purchaseHistory in purchaseHistories" ui-sref="purchase-histories.view({ purchaseHistoryId: purchaseHistory._id })" class="list-group-item">-->
                    <div ng-repeat="purchaseHistory in pagedItems" class="list-group-item">

                        <!--purchase history-->
                        <div class="a-box-group a-spacing-base order js-order-card">
                            <!--header of each purchase history-->
                            <div class="a-box a-color-offset-background order-info">
                                <div class="a-box-inner">
                                    <div class="a-fixed-right-grid">
                                        <div class="a-fixed-right-grid-inner" style="padding-right:290px">

                                            <!--left side of header with content order place date, total, address-->
                                            <div class="a-fixed-right-grid-col a-col-left" style="padding-right:0%;float:left;">
                                                <div class="a-row">

                                                    <!--ORDER PLACE DATE-->
                                                    <div class="a-column a-span3">
                                                        <div class="a-row a-size-mini">
                                                            <span class="a-color-secondary label" >Order placed</span>
                                                        </div>
                                                        <div class="a-row a-size-base">
                                                            <span class="a-color-secondary value">{{purchaseHistory.created}}</span>
                                                        </div>
                                                    </div>

                                                    <!--TOTAL-->
                                                    <div class="a-column a-span2 yohtmlc-order-total">
                                                        <div class="a-row a-size-mini">
                                                            <span class="a-color-secondary label">Total</span>

                                                        </div>
                                                        <div class="a-row a-size-base">
                                                            <span class="a-color-secondary value">${{purchaseHistory.total}}</span>
                                                        </div>
                                                    </div>

                                                    <!--shipping address-->
                                                    <div class="a-column a-span7 recipient a-span-last">
                                                        <div class="a-row a-size-mini">
                                                            <span class="a-color-secondary label">Ship to</span>
                                                        </div>
                                                        <div class="a-row a-size-base">
                                                            <span class="a-color-secondary">
                                                                <span class="a-declarative">
                                                                    <a aria-label="Link to Shipping Address" href="javascript:void(0)" class="a-popover-trigger a-declarative value">
                                                                        <span class="trigger-text">{{purchaseHistory.address}}</span>
                                                                        <i class="a-icon a-icon-popover"></i>
                                                                    </a>
                                                                </span>
                                                            </span>
                                                        </div>
                                                    </div>  
                                                </div>
                                            </div>

                                            <!--right side of header with content order number , view order detail, view invoice-->
                                            <div class="a-fixed-right-grid-col actions a-col-right" style="width:290px;margin-right:-290px;float:left;">

                                                <!--order number-->
                                                <div class="a-row a-size-mini yohtmlc-order-id">
                                                    <span class="a-color-secondary label">Order #</span>           
                                                        <span class="a-color-secondary value">
                                                            <bdi dir="ltr">{{purchaseHistory._id}}</bdi>
                                                        </span>
                                                </div>

                                                <!--view order detail, view invoice-->
                            <!--                    <div class="a-row a-size-base yohtmlc-order-level-connections">
                                                    <ul class="a-unordered-list a-nostyle a-vertical">

                                                        <!--view order detail-->
                           <!--                             <a class="a-link-normal yohtmlc-order-details-link" href="/gp/your-account/order-details/ref=ppx_yo_dt_b_order_details_o00?ie=UTF8&amp;orderID=112-7200308-8488269">
                                                            View order details
                                                        </a>

                                                        <i class="a-icon a-icon-text-separator" role="img"></i>

                                                        <!--view invoice-->
                              <!--                          <a class="a-link-normal" href="/gp/css/summary/print.html/ref=ppx_yo_dt_b_invoice_o00?ie=UTF8&amp;orderID=112-7200308-8488269">View invoice
                                                        </a>
                                                    </ul>
                                                </div>

                            -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--content of each purchase history, image title buy again view your item get support-->
                            <div class="a-box shipment">
                                <div class="a-box-inner">
                                    <div class="a-fixed-right-grid a-spacing-top-medium">
                                        <div class="a-fixed-right-grid-inner a-grid-vertical-align a-grid-top">

                                            <!--left side of content of each purchase history-->
                                            <div class="a-fixed-right-grid-col a-col-left" style="padding-right:3.2%;float:left;">
                                                <div class="a-row">

                                                    <!--one item in purchase, you can make it duplicate-->
                                                    <div ng-repeat = "item in purchaseHistory.items">
                                                        <div class="a-fixed-left-grid a-spacing-none" ng-if="item.value != 0" >
                                                            <div class="a-fixed-left-grid-inner" style="padding-left:100px">

                                                                <!--image of item-->
                                                                <div class="a-text-center a-fixed-left-grid-col a-col-left" style="width:100px;margin-left:-100px;float:left;">
                                                                    <div class="item-view-left-col-inner">
                                                                        <a class="a-link-normal" href="#" ng-click="hrefs($index)">
                                                                            <img alt="" src='{{imgs[$index]}}' class="yo-critical-feature" height="82" width="90">

                                                                        </a>
                                                                        <span class="item-view-qty" ng-if="item.value !=1">{{item.value}}</span>
                                                                    </div>
                                                                </div>

                                                                <!--title of item and buy again, view your item buttons-->
                                                                <div class="a-fixed-left-grid-col yohtmlc-item a-col-right container" style="padding-left:1.5%;float:left;">
                                                                    <!--title-->
                                                                    <div class="row" style="padding-left:2.5%;">
                                                                        <a class="a-link-normal" href="#" ng-click="hrefs($index)">
                                                                            {{titles[$index]}}
                                                                        </a>
                                                                    </div>

                                                            <!--        <div class="a-row">
                                                                        <span class="a-size-small">
                                                                            <div class="a-row a-size-small a-color-price">$53.99</div>
                                                                        </span> 

                                                                    </div>-->

                                                                    <!--return window close date-->
                                                                    <div class="row" style="padding-left:2.5%;">
                                                                        <span class="a-size-small">
                                                                            <div class="a-row a-size-small a-color-price">{{prices[$index]}}</div>
                                                                        </span> 

                                                                    </div>
                                                                
                                                                    <!--buy again and view your item button-->
                                                           <!--         <div class="a-row">
                                                                        <div class="a-row a-spacing-top-mini">

                                                                            <span class="a-declarative" data-action="bia_button" data-bia_button="{}">
                                                                                <span class="a-button a-spacing-mini a-button-primary yohtmlc-buy-it-again" id="a-autoid-3">
                                                                                    <span class="a-button-inner">
                                                                                        <a href="/gp/buyagain/ref=ppx_yo_dt_b_bia?ie=UTF8&amp;ats=eyJjdXN0b21lcklkIjoiQTNRRExSVjhBSTFQUDkiLCJleHBsaWNpdENhbmRpZGF0ZXMiOiJCMDgx%0AU1RYNkZCIn0%3D%0A" aria-label="Buy it again" class="a-button-text" role="button" id="a-autoid-3-announce">
                                                                                            <div class="reorder-modal-trigger-text">
                                                                                                <i class="reorder-modal-trigger-icon"></i>
                                                                                                Buy it again
                                                                                            </div>
                                                                                        </a>
                                                                                    </span>
                                                                                </span>
                                                                            </span>

                                                                            <span class="a-button a-spacing-mini a-button-base" id="a-autoid-4">
                                                                                <span class="a-button-inner">
                                                                                    <a href="/your-orders/pop/ref=ppx_yo_dt_b_pop?_encoding=UTF8&amp;gen=canonical&amp;lineItemId=nhjgsuqlpmktsny&amp;orderId=112-7200308-8488269&amp;packageId=1&amp;returnSummaryId=&amp;returnUnitIndices=&amp;returnUnitMappingId=&amp;shipmentId=UhzwVPyYZ" class="a-button-text" role="button" id="a-autoid-4-announce">
                                                                                        View your item
                                                                                    </a>
                                                                                </span>
                                                                            </span>
                                                                        </div> 
                                                                    </div>
                                                            -->

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    
                                                    <div class="content_for_each_item"></div>

                                                </div>
                                            </div>

                                            <!--right side of content of each purchase history-->
                                            <div class="a-fixed-right-grid-col a-col-right" style="width:220px;margin-right:-220px;float:left;">
                                                <div class="a-row">
                                                    <div class="a-button-stack yohtmlc-shipment-level-connections">


                                                       
<!--            
                                                        <span class="a-button a-button-normal a-spacing-mini a-button-primary" id="a-autoid-5">
                                                            <span class="a-button-inner">
                                                                <a id="Get-product-support_2" href="/ps/product-support/resolutions?_encoding=UTF8&amp;itemId=nhjgsuqlpmktsn&amp;orderId=112-7200308-8488269&amp;ref_=ppx_yo_dt_b_prod_support_single_item_o00_s00&amp;shipmentId=UhzwVPyYZ" class="a-button-text" role="button">
                                                                    Get product support
                                                                </a>
                                                            </span>
                                                        </span>

                                                        <span class="a-button a-button-normal a-spacing-mini a-button-base" id="a-autoid-6">
                                                            <span class="a-button-inner">
                                                                <a id="Write-a-product-review_2" href="/review/review-your-purchases/ref=ppx_yo_dt_b_rev_prod_o00_s00?_encoding=UTF8&amp;asins=B081STX6FB&amp;channel=YAcc-wr" class="a-button-text" role="button">
                                                                    Write a product review
                                                                </a>
                                                            </span>
                                                        </span>
-->
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    
                    </div>
                </div>
            </div>
        </div>
    </div>
      <uib-pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
</section>