<section>
<div id="">

            <div class="content-container">
                <div class="Collection_collectionList__2irfL">
                    <section class="content" id="content">

                        <!--title-->
                        <div class="crumbs flex Collection_crumbs__134VP">
                            <a ng-click="backToHomePage()" target="_blank" rel="noreferrer" style="color:#00a7e1; font-weight: 900;">Home</a>
                            <i class="iconfont iconarrow_right next"></i>
                            <div class="Collection_crumbsMenu__3Lu5o">
                                Products<i class="iconfont iconarrow_down hidden"></i>
                            </div>
                        </div>

                        <!--banner photo-->
                        <div class="Collection_banner__6soeM">
                            <img src="\modules\core\client\img\projectorScreen\banner\banner1.png" alt=""/>
                        </div>

                        <!--product-->
                        <div class="Collection_products__r6eYE">
                            <ul class="Collection_productList__2qiQU flex">

                                <!--first item-->
                                <li class="Collection_box__2BD2x">

                                    <div class="product-box">
                                        <div class="Collection_img__175Gp">
                                            <a href='#' rel="noreferrer" ng-click="goToTabTensionPage()">
                                                <img src="/modules/things-to-dos/client/img/product/tab-tensioned.png" class="product-img"/> 
                                            </a>
                                        </div>
                                        <div class="Collection_name__1qAbX product-title">Tab-Tension Projector Screen</div>
                                        <div class="Collection_price__QE3yA price">$779.00</div>
                                        <i class="bx bx-shopping-bag add-cart"></i>
                                    </div>
                                </li>

                                <!--second item-->
                                <li class="Collection_box__2BD2x">
                                    <div class="product-box">
                                        <div class="Collection_img__175Gp">
                                            <a href='#' rel="noreferrer" ng-click="goToFloorRisingPage()">
                                                <img src="/modules/things-to-dos/client/img/product/floor-rising.jpg" class="product-img"/>
                                            </a>
                                        </div>
                                        <div class="Collection_name__1qAbX product-title">Floor Up Projector Screen</div>
                                        <div class="Collection_price__QE3yA price">$1799.00</div>
                                        <i class="bx bx-shopping-bag add-cart"></i>
                                    </div>
                                </li>

                                <!--thrid item-->
                                <li class="Collection_box__2BD2x">
                                    <div class="product-box">
                                        <div class="Collection_img__175Gp">
                                            <a href='#' rel="noreferrer" ng-click="goToMobliePage()">
                                                <img src="/modules/things-to-dos/client/img/product/portable.webp" class="product-img"/>
                                            </a>
                                        </div>
                                        <div class="Collection_name__1qAbX product-title">Portable Outdoor Projector Screen</div>
                                        <div class="Collection_price__QE3yA price">$69.00</div>
                                        <i class="bx bx-shopping-bag add-cart"></i>
                                    </div>
                                </li>

                               
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
</div>
</section>
