<section>
<div id="">

            <div class="content-container">
                <div class="Collection_collectionList__2irfL">
                    <section class="content" id="content">

                        <!--title-->
                        <div class="crumbs flex Collection_crumbs__134VP">
                            <a ng-click="backToHomePage()" target="_blank" rel="noreferrer" style="color:#00a7e1; font-weight: 900;">首页</a>
                            <i class="iconfont iconarrow_right next"></i>
                            <div class="Collection_crumbsMenu__3Lu5o">
                                手机壳膜及其他<i class="iconfont iconarrow_down hidden"></i>
                            </div>
                        </div>
       <a href='#' rel="noreferrer" ng-click="goToDetailPage('tab-tensioned')">dd</a>
                        <!--banner photo-->
                        <div class="Collection_banner__6soeM">
                            <img src="/modules/core/client/img/cdn.shopify.com/s/files/1/0496/9057/5016/collections/CABLE_5f6a6976-0397-4341-9194-bc6929e2ce4b79dc.jpg?v=1639565737" alt="安克手机壳膜及其他专区"/>
                        </div>

                        <!--product-->
                        <div class="Collection_products__r6eYE">
                            <ul class="Collection_productList__2qiQU flex">

                                <!--first item-->
                                <li class="Collection_box__2BD2x">

                                    <div class="product-box">
                                        <div class="Collection_img__175Gp">
                                            <a href='#' rel="noreferrer" ng-click="goToDetailPage('tab-tensioned')">dd
                                                <img src="/modules/core/client/img/cdn.shopify.com/s/files/1/0496/9057/5016/products/A9580661511a.jpg?v=1639562043" class="product-img"/> 
                                            </a>
                                        </div>
                                        <div class="Collection_name__1qAbX product-title">冰淇淋手机壳 薄荷绿 iPhone12</div>
                                        <div class="Collection_price__QE3yA price">$69.00</div>
                                        <i class="bx bx-shopping-bag add-cart"></i>
                                    </div>
                                </li>


                                <!--second item-->
                                <li class="Collection_box__2BD2x">
                                    <div class="product-box">
                                        <div class="Collection_img__175Gp">
                                            <img src="/modules/core/client/img/cdn.shopify.com/s/files/1/0496/9057/5016/products/A9580661_54776575-e904-4cef-aae3-05245e3fab4f8c14.jpg?v=1639565506" class="product-img"/>
                                        </div>
                                        <div class="Collection_name__1qAbX product-title">冰淇淋手机壳 薄荷绿 iPhone12MAX</div>
                                        <div class="Collection_price__QE3yA price">$79.00</div>
                                        <i class="bx bx-shopping-bag add-cart"></i>
                                    </div>
                                </li>

                                <!--thrid item-->
                                <li class="Collection_box__2BD2x">
                                    <div class="product-box">
                                        <div class="Collection_img__175Gp">
                                            <img src="/modules/core/client/img/cdn.shopify.com/s/files/1/0496/9057/5016/products/A9583661612e.png?v=1639570740" class="product-img"/>
                                        </div>
                                        <div class="Collection_name__1qAbX product-title">磁吸手机壳 石墨绿 iPhone13</div>
                                        <div class="Collection_price__QE3yA price">$99.00</div>
                                        <i class="bx bx-shopping-bag add-cart"></i>
                                    </div>
                                </li>

                                <!--forth item-->
                                <li class="Collection_box__2BD2x">
                                    <div class="product-box">
                                        <div class="Collection_img__175Gp">
                                            <img src="/modules/core/client/img/cdn.shopify.com/s/files/1/0496/9057/5016/products/A9583661_6285cb11-4df0-45b9-b301-ffc8d45e790a2b02.png?v=1639570798" class="product-img"/>
                                        </div>
                                        <div class="Collection_name__1qAbX product-title">磁吸手机壳 石墨绿 iPhone13 Pro</div>
                                        <div class="Collection_price__QE3yA price">$99.00</div>
                                        <i class="bx bx-shopping-bag add-cart"></i>
                                    </div>
                                </li>

                                <!--fifth item-->
                                <li class="Collection_box__2BD2x">
                                    <div class="product-box">
                                        <div class="Collection_img__175Gp">
                                            <img src="/modules/core/client/img/cdn.shopify.com/s/files/1/0496/9057/5016/products/A95896619ac6.png?v=1639570810" class="product-img"/>
                                        </div>
                                        <div class="Collection_name__1qAbX product-title">磁吸手机壳 石墨绿 iPhone13 无磁吸</div>
                                        <div class="Collection_price__QE3yA price">$69.00</div>
                                        <i class="bx bx-shopping-bag add-cart"></i>
                                    </div>
                                </li>

                                <!--sixth item-->
                                <li class="Collection_box__2BD2x">
                                    <div class="product-box">
                                        <div class="Collection_img__175Gp">
                                            <img src="/modules/core/client/img/cdn.shopify.com/s/files/1/0496/9057/5016/products/A9589661_76a23daa-7c13-4333-b920-c6604d492bea8c55.png?v=1639570766" class="product-img"/>
                                        </div>
                                        <div class="Collection_name__1qAbX product-title">磁吸手机壳石墨绿 iPhone13 Pro 无磁吸</div>
                                        <div class="Collection_price__QE3yA price">$69.00</div>
                                        <i class="bx bx-shopping-bag add-cart"></i>
                                    </div>
                                </li>

                                <!--seventh item-->
                                <li class="Collection_box__2BD2x">
                                    <div class="product-box">
                                        <div class="Collection_img__175Gp">
                                            <img src="/modules/core/client/img/cdn.shopify.com/s/files/1/0496/9057/5016/products/A95936016a7e.jpg?v=1639566037" class="product-img"/>
                                        </div>
                                        <div class="Collection_colors__1_fUK"></div>
                                        <div class="Collection_name__1qAbX product-title">高清透光膜 iPhone13/13Pro</div>
                                        <div class="Collection_price__QE3yA price">$59.00</div>
                                        <i class="bx bx-shopping-bag add-cart"></i>
                                    </div>
                                </li>

                                <!--eighth item-->
                                <li class="Collection_box__2BD2x">
                                    <div class="product-box">
                                        <div class="Collection_img__175Gp">
                                            <img src="/modules/core/client/img/cdn.shopify.com/s/files/1/0496/9057/5016/products/A9593611c7a5.jpg?v=1639566132" class="product-img"/>
                                        </div>
                                        <div class="Collection_colors__1_fUK"></div>
                                        <div class="Collection_name__1qAbX product-title">防窥膜 iPhone13/13Pro</div>
                                        <div class="Collection_price__QE3yA price">$69.00</div>
                                        <i class="bx bx-shopping-bag add-cart"></i>
                                    </div>
                                </li>

                                <!--nineth item-->
                                <li class="Collection_box__2BD2x">
                                    <div class="product-box">
                                        <div class="Collection_img__175Gp">
                                            <img src="/modules/core/client/img/cdn.shopify.com/s/files/1/0496/9057/5016/products/A95936216849.jpg?v=1639566219" class="product-img"/>
                                        </div>
                                        <div class="Collection_colors__1_fUK"></div>
                                        <div class="Collection_name__1qAbX product-title">磨砂高清膜 iPhone13/13Pro</div>
                                        <div class="Collection_price__QE3yA price">$69.00</div>
                                        <i class="bx bx-shopping-bag add-cart"></i>
                                    </div>
                                </li>

                                <!--ten item-->
                                <li class="Collection_box__2BD2x">
                                    <div class="product-box">
                                        <div class="Collection_img__175Gp">
                                            <img src="/modules/core/client/img/cdn.shopify.com/s/files/1/0496/9057/5016/products/A9593661751f.jpg?v=1639566273" class="product-img"/>
                                        </div>
                                        <div class="Collection_colors__1_fUK"></div>
                                        <div class="Collection_name__1qAbX product-title">防蓝光护眼膜 iPhone13/13Pro</div>
                                        <div class="Collection_price__QE3yA price">$79.00</div>
                                        <i class="bx bx-shopping-bag add-cart"></i>
                                    </div>
                                </li>

                                <!--eleven item-->
                                <li class="Collection_box__2BD2x">
                                    <div class="product-box">
                                        <div class="Collection_img__175Gp">
                                            <img src="/modules/core/client/img/cdn.shopify.com/s/files/1/0496/9057/5016/products/A95906N1980b.jpg?v=1640084001" class="product-img"/>
                                        </div>
                                        <div class="Collection_colors__1_fUK"></div>
                                        <div class="Collection_name__1qAbX product-title">冰扇 英雄联盟 蓝</div>
                                        <div class="Collection_price__QE3yA price">$199.00</div>
                                        <i class="bx bx-shopping-bag add-cart"></i>
                                    </div>
                                </li>

                                <!--12 item-->
                                <li class="Collection_box__2BD2x">
                                    <div class="product-box">
                                        <div class="Collection_img__175Gp">
                                            <img src="/modules/core/client/img/cdn.shopify.com/s/files/1/0496/9057/5016/products/A25A0611e4db.jpg?v=1640092464" class="product-img"/>
                                        </div>
                                        <div class="Collection_name__1qAbX product-title">MagGo 指扣支架 黑</div>
                                        <div class="Collection_price__QE3yA price">$69.00</div>
                                        <i class="bx bx-shopping-bag add-cart"></i>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
</div>
</section>
