<section>
<div id="wrapper">


    <div class="bankforreserv"></div>
    <div id="contentinfo" class="fixheader">
      <div class="contentwrap">
        <div class="background-content">
          <div id="container">
            <div id="content">
              <div id="breadcrumb"><a ng-click="backToHomePage()" href="#">Home</a><span class="brd-icon icon-rightArrow"></span>Our Products</div>
              <section id="header">Tab-Tension Seriers</section>
              <div id="box">
                <article class="box2 text-center" id="pre-box">
                 
                  <div class="firstpara">
                    Our most popular Tab-tension projector screen series—ever. Since 2002, NovaScreen Screens has become a global leader in Tab-tension projection screen manufacturing. We are committed to bring a high-quality Tab-tension projection screen at a budget-friend	ly price to our customer.
  
                    Make with “WF1 Pro Max 4K" Material, result in better resolution and clearer projection.
					         Using Novascreen's proprietary Tab-tension technology, it maintains a flat viewing surface.
                  </div>
                </article>
              </div>


              <img alt="" width="40%"  style="margin: 0 auto; text-align: center; positive:relative; display: block;" src="/modules/things-to-dos/client/img/aztec_image/products.png">

              <div style="text-align:center;">
                <a href='https://www.amazon.com/dp/B085BFVZPK?ref=myi_title_dp' class='btn btn-warning' style="color:black; " class="form-control">Buy Now</a>
              </div>
            </div>
            <div class="clear"> </div>
          </div>
        </div>

        <div class="full-width"><div class="snippet-box">
          <div id="specialpackage">
            <div class="attract-format snippet-main">

              <div class="edattraction thholder attractionleftbox1">
                <div class="snippet-mid">
                  <input id="pkgid" type="hidden" value="49481">
                  <input id="packagepageid" type="hidden" value="112084">

                  <div class="snippet-images-left">
                    <figure> <img alt="material" src="/modules/things-to-dos/client/img/aztec_image/1material.png" height="300" width="300"> </figure>
                  </div>

                  <div class="snippet-content-right">
                    <div class="snippet-inner">
                      <h2>WF1 Pro Max 4k material</h2>
                      <div class="attractnippetdesc content-desc-inner">
                        <div class="attractionnippetdesc content-desc-inner">1.4 Gain 4K Ultra HD and Active 3D Ready FRONT Projection Screen with Black Backing Features a 160° viewing angle is Mildew Resistant Easy to Clean with soap and water.</div>

                      </div>
                    </div>
                  </div>


                  <div class="clear"></div>
                </div>
              </div>

              <div class="edattraction thholder attractionleftbox2">
                <div class="snippet-mid">
                  <input id="pkgid" type="hidden" value="49482">
                  <input id="packagepageid" type="hidden" value="112085">
                  <div class="snippet-images-right">
                    <figure> <img alt="Canyon Park" src="/modules/things-to-dos/client/img/aztec_image/2cover.png" height="566" width="800"> </figure>
                  </div>
                  <div class="snippet-content-left">
                    <div class="snippet-inner">
                      <h2>Durable Aluminum Housing</h2>
                      <div class="attractnippetdesc content-desc-inner">
                        <div class="attractionnippetdesc content-desc-inner">
                          Streamlined aluminum housing with White enamel coating is moisture resistant, easy to install. And provide 4 more years longer service life than others.
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>

              <div class="edattraction thholder attractionleftbox3">
                <div class="snippet-mid">
                  <input id="pkgid" type="hidden" value="49483">
                  <input id="packagepageid" type="hidden" value="112086">
                  <div class="snippet-images-left">
                    <figure> <img alt="Los Angeles County Arboretum" src="/modules/things-to-dos/client/img/aztec_image/3tabtension.png" height="566" width="800"> </figure>
                  </div>
                  <div class="snippet-content-right">
                    <div class="snippet-inner">
                      <h2>Full of Tension </h2>
                      <div class="attractnippetdesc content-desc-inner">
                        <div class="attractionnippetdesc content-desc-inner">
                          Tab-tension is designed to prevent curling that can ruin your viewing experience. The fully tensioned screen maintains a flat surface, perfect for entertainment, gaming, or education.
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>

              <div class="edattraction thholder attractionleftbox4">
                <div class="snippet-mid">
                  <input id="pkgid" type="hidden" value="49484">
                  <input id="packagepageid" type="hidden" value="112095">
                  <div class="snippet-images-right">
                    <figure> <img alt="Mounts Botanical Gardens in West Palm Beach" src="/modules/things-to-dos/client/img/aztec_image/4motor.png" height="566" width="800"> </figure>
                  </div>
                  <div class="snippet-content-left">
                    <div class="snippet-inner">
                      <h2>Heat-proof Friction Motor</h2>
                      <div class="attractnippetdesc content-desc-inner">
                        <div class="attractionnippetdesc content-desc-inner">
                          The inner tube thermal protection function reduces the damage to the screen surface caused by the lifting.
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>


              <div class="edattraction thholder attractionleftbox5">
                <div class="snippet-mid">
                  <input id="pkgid" type="hidden" value="49485">
                  <input id="packagepageid" type="hidden" value="112096">
                  <div class="snippet-images-left">
                    <figure> <img alt="Hermit Falls" src="/modules/things-to-dos/client/img/aztec_image/5control.png" height="566" width="800"> </figure>
                  </div>
                  <div class="snippet-content-right">
                    <div class="snippet-inner">
                      <h2> Total Control</h2>
                      <div class="attractnippetdesc content-desc-inner">
                        <div class="attractionnippetdesc content-desc-inner">
                          Screen can be conveniently operated with infrared remote, radio frequency. It included wireless trigger feature allows for projector power cycle synching, for an amazing viewing experience.
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>


            </div></div>
          </div>
          <div class="clear">&nbsp;</div>
        </div></div>
    </div>
</div>
</section>
