<div class="content-container">
    <div class="Collection_collectionList__2irfL">
      <section class="content" id="content">

        <!--banner photo-->
        <div class="Collection_banner__6soeM">
            <img src="\modules\core\client\img\projectorScreen\banner\banner1.png" alt="安克手机壳膜及其他专区"/>
        </div>

        <div id="__next">
            <a name="top" id="top"></a>
            <div class="Layout_root___g0be Layout_NavEmpty__8VUkO">

                <main class="fit">
                    <div id="" class="max-w-none w-full relative bg-white z-20" style="display: flex;flex-direction: column;">
                        <div class="ProductInfo_root__rYMAr" id="purchase">

                            <!--image-->
                            <div class="ProductInfo_productImages__ylZkL">
                                <div class="ProductInfo_sliderContainer__xINQm">
                                    <picture class="block overflow-hidden flex h-full w-auto items-center justify-center md:w-full">
                                        <img src="{{imgSrc}}" style="max-width: 100%;max-height: 100%;" loading="lazy" alt="This is Product Image" class="w-full ProductSwiper_img__s0_z7"/>
                                    </picture>
                                                           
                                    <div style="display:flex;">
                                        <button type="button" class="btn btn-default btn-rounded-square" ng-click="get1Img()">
                                            <img src="/modules/things-to-dos/client/img/Tab-Tension/1.png" alt="1">
                                        </button>
                                        <button type="button" class="btn btn-default btn-rounded-square" ng-click="get2Img()">
                                            <img src="/modules/things-to-dos/client/img/Tab-Tension/2.png" alt="2">
                                        </button>
                                        <button type="button" class="btn btn-default btn-rounded-square" ng-click="get3Img()">
                                            <img src="/modules/things-to-dos/client/img/Tab-Tension/3dimension {{sizePick}}inch.png" alt="3">
                                        </button>
                                        <button type="button" class="btn btn-default btn-rounded-square" ng-click="get4Img()">
                                            <img src="/modules/things-to-dos/client/img/Tab-Tension/4.png" alt="4">
                                        </button>
                                        <button type="button" class="btn btn-default btn-rounded-square" ng-click="get5Img()">
                                            <img src="/modules/things-to-dos/client/img/Tab-Tension/5.png" alt="5">
                                        </button>
                                    </div> 
     
                                </div>
                                 


                            </div>

                            <!--description-->
                            <div class="ProductInfo_sidebar___jptC" id="">

                                <!--Title and price -->
                                <div class="ProductTag_root__Nxivt">
                                    <span class="label label-info">Recommended</span>
                                    <div class="ProductTag_tagName__MdvbC">
                                        <div class="ProductTag_productTitleBox__Z0aA_">
                                            <h1 class="Text_heading__jNwbK ProductTag_productTitle__SNhPl">
                                                {{title}}
                                            </h1>
                                        </div>
                                        <span class="ProductTag_productType__Ye6il">Series 7</span>
                                    </div>
                                    <div class="ProductTag_starBox__tcAFQ">
                                        <span class="ProductTag_mdProductType__JKvji" style="display:hidden">Series 7</span>
                                        <div class="relative">
                                            <div class="Reviews_StarRating__5BJ_D yotpo bottomLine anker-yotpo" data-product-id="7531514953878"></div>
                                            <a class="BannerLink_link__H0L08" href="#reviews-yotpo" aria-hidden="true" tabindex="-1"></a>
                                        </div>
                                    </div>
                                    <div class="ProductTag_productPrice__j2xra ProductPrice_prices__tMOSl">
                                        <span class="itemPrice">{{price}}.00</span>
                                    </div>
                                    <p class="Affirm_affirm__4p3_5 affirm-as-low-as" data-page-type="product" data-amount="5999"></p>
                                </div>


                                <!--option for selection-->
                                <div class="ProductOptions_optionsBox__vwypV productOptionsBox">
                                    <div class="ProductOptions_optionsBox__vwypV">
                                        <h2 class="ProductOptions_displayName__RMeuG">Size: {{sizePick}}-Inch</h2>
                                        <fieldset class="ProductOptions_listbox___4Orm ProductOptions_optionColor__Y_lru ProductOptions_listbox___4Orm ">
                                            <div class="btn-group btn-group-lg" role="group" aria-label="..."> 
                                                <button class="btn btn-default  rounded-pill px-7" type="button" ng-click="get92inch()" >92-Inch</button>
                                                <button class="btn btn-default  rounded-pill px-7" type="button" ng-click="get100inch()">100-Inch</button>
                                                <button class="btn btn-default  rounded-pill px-7" type="button" ng-click="get110inch()">110-Inch</button>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>


                                <!-- bullet point-->
                                <div class="LearnMore_learnMoreBox__bErql ProductSidebar_pxLearnMore__pJzwe">
                                    <div class="LearnMore_contentBox__4lQnv" style="">
                                        <div class="overflow-hidden learn-more-container">
                                            <div class="Text_body__ldD0k ProductSidebar_descText__qnR1X md:hidden">
                                                <meta charset="utf-8">
                                                <meta charset="utf-8">
                                                <div data-page-id="doxcnXvgN5rhNhNHWY6AyhF21ug" data-docx-has-block-data="false" data-mce-fragment="1">
                                                    <div class="ace-line ace-line old-record-id-doxcncEAiYoAm2sA2sdVmzUcoVd" data-mce-fragment="1">
                                                        <ul>
                                                            <li>
                                                                ✅<strong>ANTI-CREASE AND HIGH RESOLUTION MATERIAL:</strong>
                                                                Made with WF1 Pro Max 4K that the projection is sharper and brighter than most other projector screens, which can result in better resolution and clearer projection with your 4K/3D projector. ISF-certified for accurate color, superb contrast and dynamic range performance.
                                                            </li>
                                                        </ul>
                                                        <ul>
                                                            <li>
                                                                ✅<strong>FLAT VIEWING SURFACE:</strong>
                                                                Tab-tensioned screen maintains a flat viewing surface. A wrinkle in the surface or a curled edge could distort the image on the screen, making it difficult to see the image displayed.
                                                            </li>
                                                        </ul>
                                                        <ul>
                                                            <li>
                                                                ✅<strong>DURABLE GOODS:</strong>
                                                                The inner tube thermal protection function reduces the damage to the screen surface caused by the heat generated by the lifting, and maintains the flatness.
                                                            </li>
                                                        </ul>
                                                        <ul>
                                                            <li>
                                                                ✅<strong>EASY TO INSTALL: </strong>
                                                                Ships fully assembled, plug and play ready, features a durable casing that easily installs to your wall or ceiling with the included installation kit. Includes: Infrared (IR) Remote,radio frequency (RF)， Detachable 3-Way Wall Switch, and the Wireless 12V wireless projector trigger. It only take about 15 min to install.
                                                            </li>
                                                        </ul>
                                                        <ul>
                                                            <li>
                                                                ✅<strong>WARRANTY AND WIDE COMPATIBILITY:</strong>
                                                                2-Year manufactures warranty and Lifetime Product support by NovaScreen company. Compatible with Standard/Short-throw Projectors, but not Ultra Short-throw Projectors.
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                
                                               
                                            </div>
                                        </div>
                                    </div>        
                                </div>

                                <!--description under bullte point-->
                                <div class="ProductMyregistry_product_myregistry__M0ukA">
                                    <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
                                    <p class="ProductMyregistry_txt__wj276">Join our Registry, and create your own wish list for gifts now!</p>
                                </div>

                                <!--quantity-->
                                <div class="ProductSidebar_commonInfos__HiLSL ProductSidebar_quantityBox__d6KR2">
                                    <div class="ProductSidebar_infoTitle__OzL0g">Quantity</div>
                                    <div class="ProductQuantity_root__wCeRG flex flex-col items-center">
                                        <div class="ProductQuantity_quantityBox__uuCZm flex">
                                            <!--decrease button-->
                                            <button type="button" aria-label="decrease quantity" class="ProductQuantity_actions__AVAwW ProductQuantity_leftActions__WAwoi ProductQuantity_buttonDisabled__jc6Oi" ng-click="decreaseQuantity()" style="background-color:transparent;">
                                                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                                            </button>

                                            <label class="ProductQuantity_inputBox__1M0OG">
                                                <input class="ProductQuantity_input__tethh" ng-model="quantity" type="number" max={{maxPurchase}} min={{minPurchase}} />
                                            </label>

                                            <!--increase button-->
                                            <button type="button" aria-label="increase quantity" class="ProductQuantity_actions__AVAwW ProductQuantity_rightActions___o5Am" style="margin-left:-1px; background-color:transparent;" ng-click="increaseQuantity()">
                                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                            </button>

                                        </div>
                                    </div>
                                </div>


                                <!--trush delivery-->
                                <div class="ProductSidebar_commonInfos__HiLSL ProductSidebar_intro__a2wGf">
                                    <div class="ProductSidebar_infoTitle__OzL0g">Trusted Delivery</div>
                                    <div>
                                        <div class="Text_body__ldD0k break-words w-full max-w-xl">
                                            <img class='image' alt='Trusted Delivery Image' src='https://cdn.shopify.com/s/files/1/0521/9411/5753/files/pic.png?v=40164742'>
                                        </div>
                                    </div>
                                </div>

                                <!--very buttom add to cart and buy now button-->
                                <div class="ProductPurchaseBar_purchaseBar__OVPhy">
                                    <div class="ProductPurchaseBar_purchaseBarContent___pRvB">
                                        <div class="ProductPurchaseBar_priceAndButtons__d18Oy">
                                            <div class="ProductPurchaseBar_price__GB_ax ProductPrice_prices__tMOSl">
                                                <span class="total-price">$0.00</span>
                                            </div>
                                            <button data-variant="secondary" class="Button_secondary__iWbf0 ProductPurchaseBar_button__eh7EZ addCart" tabindex="0" role="button" id="netlify_dtctest_add_to_cart">Add to Cart</button>
                                            <button data-variant="primary" class="Button_primary__AC210 ProductPurchaseBar_button__eh7EZ" tabindex="0" role="button" id="netlify_dtctest_buynow">Buy Now</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <div class="nextElement"></div>






                        <!--my code-->

    <div class="aplus-v2 desktop celwidget" cel_widget_id="aplus" data-csa-c-id="4pbpzb-ybkzvf-qd2j54-6mumjd" data-cel-widget="aplus">
        <style type="text/css">
.aplus-v2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.aplus-v2 .aplus-3p-fixed-width {
    width: 970px;
}
.aplus-v2 .aplus-3p-fixed-width.aplus-module-wrapper {
  margin-left: auto;
  margin-right: auto;
}
</style>
      <style type="text/css">
    .aplus-v2 {
      display:block;
      margin-left:auto;
      margin-right:auto;
      word-wrap: break-word;
      overflow-wrap: break-word;
      word-break: break-word;
    }

    /* Undo this for tech-specs because it breaks table layout */
    .aplus-v2 .aplus-standard .aplus-tech-spec-table { word-break: initial; }
    .aplus-v2 .aplus-standard .aplus-module-wrapper {text-align:inherit; display:block; margin-right:auto;margin-left:auto;}
    .aplus-v2 .aplus-standard.aplus-module.module-1,
    .aplus-v2 .aplus-standard.aplus-module.module-2,
    .aplus-v2 .aplus-standard.aplus-module.module-3,
    .aplus-v2 .aplus-standard.aplus-module.module-4,
    .aplus-v2 .aplus-standard.aplus-module.module-6,
    .aplus-v2 .aplus-standard.aplus-module.module-7,
    .aplus-v2 .aplus-standard.aplus-module.module-8,
    .aplus-v2 .aplus-standard.aplus-module.module-9,
    .aplus-v2 .aplus-standard.aplus-module.module-10,
    .aplus-v2 .aplus-standard.aplus-module.module-11,
    .aplus-v2 .aplus-standard.aplus-module.module-12{padding-bottom:12px; margin-bottom:12px;}
    .aplus-v2 .aplus-standard.aplus-module:last-child{border-bottom:none}
    .aplus-v2 .aplus-standard.aplus-module {//min-width:979px;}

    /* aplus css needed to override aui on the detail page */
    .aplus-v2 .aplus-standard.aplus-module table.aplus-chart.a-bordered.a-vertical-stripes {border:none;}
    .aplus-v2 .aplus-standard.aplus-module table.aplus-chart.a-bordered.a-vertical-stripes td {background:none;}
    .aplus-v2 .aplus-standard.aplus-module table.aplus-chart.a-bordered.a-vertical-stripes td.selected {background-color:#ffd;}
    .aplus-v2 .aplus-standard.aplus-module table.aplus-chart.a-bordered.a-vertical-stripes td:first-child {background:#f7f7f7; font-weight:bold;}
    .aplus-v2 .aplus-standard.aplus-module table.aplus-chart.a-bordered.a-vertical-stripes tr th {background:none; border-right:none;}
    .aplus-v2 .aplus-standard.aplus-module table.aplus-chart.a-bordered tr td,.aplus-v2 .aplus-standard .aplus-module table.aplus-chart.a-bordered tr th {border-bottom:1px dotted #999;}

    /* A+ Template - General Module CSS */
    .aplus-v2 .aplus-standard .apm-top {height:100%; vertical-align:top;}
    html[dir='rtl'] .aplus-v2 .aplus-standard .apm-top {padding-left: 0px; padding-right: 3px}
    .aplus-v2 .aplus-standard .apm-center {height:100%; vertical-align:middle; text-align:center;}
    .aplus-v2 .aplus-standard .apm-row {width:100%; display:inline-block;}
    .aplus-v2 .aplus-standard .apm-wrap {width:100%;}
    .aplus-v2 .aplus-standard .apm-fixed-width {width:969px;}
    .aplus-v2 .aplus-standard .apm-floatleft {float:left;}
    html[dir='rtl'] .aplus-v2 .aplus-standard .apm-floatleft {float:right;}
    .aplus-v2 .aplus-standard .apm-floatright {float:right;}
    html[dir='rtl'] .aplus-v2 .aplus-standard .apm-floatright {float:left;}
    .aplus-v2 .aplus-standard .apm-floatnone {float:none;}
    .aplus-v2 .aplus-standard .apm-spacing img {border:none;}
    .aplus-v2 .aplus-standard .apm-leftimage {float:left; display:block; margin-right:20px; margin-bottom:10px;width: 300px;}
    html[dir='rtl'] .aplus-v2 .aplus-standard .apm-leftimage {float: right; margin-right: 0px; margin-left:20px;}
    .aplus-v2 .aplus-standard .apm-centerimage {text-align: center; width:300px; display:block; margin-bottom:10px;}
    .aplus-v2 .aplus-standard .apm-centerthirdcol {min-width:359px; display:block}
    .aplus-v2 .aplus-standard .apm-centerthirdcol ul,
    .aplus-v2 .aplus-standard .apm-centerthirdcol ol {margin-left: 334px;}
    html[dir='rtl'] .aplus-v2 .aplus-standard .apm-centerthirdcol ul,
    html[dir='rtl'] .aplus-v2 .aplus-standard .apm-centerthirdcol ol {margin-left: 0px; margin-right: 334px;}
    .aplus-v2 .aplus-standard .apm-rightthirdcol {float:right; width:230px; padding-left:30px; margin-left:30px; border-left:1px solid #dddddd;}
    html[dir='rtl'] .aplus-v2 .aplus-standard .apm-rightthirdcol {float: left; padding-left: 0px; padding-right:30px; margin-left:0px; margin-right:30px; border-left:0px; border-right:1px solid #dddddd;}
    .aplus-v2 .aplus-standard .apm-lefttwothirdswrap {width:709px; display:block;}
    .aplus-v2 .aplus-standard .apm-lefthalfcol {width:480px; padding-right:30px; display:block; float:left;}
    html[dir='rtl'] .aplus-v2 .aplus-standard .apm-lefthalfcol {padding-left:30px; float:right;}
    .aplus-v2 .aplus-standard .apm-righthalfcol {width:480px; display:block; float:left;}
    html[dir='rtl'] .aplus-v2 .aplus-standard .apm-righthalfcol {float:right;}
    .aplus-v2 .aplus-standard .apm-eventhirdcol {width:300px; display:block;}
    .aplus-v2 .aplus-standard .apm-eventhirdcol-table {border-spacing: 0px 0px; border-collapse: collapse;}
    .aplus-v2 .aplus-standard .apm-eventhirdcol-table tr td {vertical-align: top;}
    .aplus-v2 .aplus-standard .apm-fourthcol {width:220px; float:left;}
    html[dir='rtl'] .aplus-v2 .aplus-standard .apm-fourthcol {float:right;}
    .aplus-v2 .aplus-standard .apm-fourthcol .apm-fourthcol-image {position:relative;}
    .aplus-v2 .aplus-standard .apm-fourthcol img {display:block; margin:0 auto;}
    .aplus-v2 .aplus-standard .apm-fourthcol-table {border-spacing: 0px 0px; border-collapse: collapse;}
    .aplus-v2 .aplus-standard .apm-fourthcol-table tr td {vertical-align: top;}
    .aplus-v2 .aplus-standard .apm-listbox {width:100%;}
    .aplus-v2 .aplus-standard .apm-iconheader {float:left; padding-left:10px;}
    html[dir='rtl'] .aplus-v2 .aplus-standard .apm-iconheader {float:right; padding-left:0px; padding-right: 10px}
    .aplus-v2 .aplus-standard .apm-spacing ul:last-child,.aplus-v2 .aplus-standard ol:last-child {margin-bottom:0 !important;}
    .aplus-v2 .aplus-standard .apm-spacing ul,.aplus-v2 .aplus-standard ol {padding:0 !important;}
    .aplus-v2 .aplus-standard .apm-spacing ul {margin:0 0 18px 18px !important;}
    html[dir='rtl'] .aplus-v2 .aplus-standard .apm-spacing ul {margin:0 18px 18px 0 !important;}

    .aplus-v2 .aplus-standard .apm-spacing ul li,.aplus-v2 .aplus-standard ol li {word-wrap:break-word; margin:0 !important;}
    .aplus-v2 .aplus-standard .apm-spacing ul li {margin:0 !important;}

    /* A+ Template - Module 1 Sepcific CSS */
    .aplus-v2 .aplus-standard .amp-centerthirdcol-listbox {display:inline-block; width:359px;}

    /* A+ Template - Module 2/3 Specific CSS */
    .aplus-v2 .aplus-standard .apm-sidemodule {text-align:left; margin:0 auto; width:970px; padding:0; background-color:#ffffff; position:relative;}
    .aplus-v2 .aplus-standard .apm-sidemodule {text-align:inherit;}
    .aplus-v2 .aplus-standard .apm-sidemodule-textright {position:relative; display:table-cell; vertical-align:middle; padding-left:40px; height:300px; max-height:300px;}
    html[dir='rtl'] .aplus-v2 .aplus-standard .apm-sidemodule-textright {padding-left:0px; padding-right: 40px;}
    .aplus-v2 .aplus-standard .apm-sidemodule-textleft {position:relative; display:table-cell; vertical-align:middle; height:300px; max-height:300px;}
    html[dir='rtl'] .aplus-v2 .aplus-standard .apm-sidemodule-textleft {padding-left:0px;}
    .aplus-v2 .aplus-standard .apm-sidemodule-imageleft {position:relative; float:left; display:block;}
    html[dir='rtl'] .aplus-v2 .aplus-standard .apm-sidemodule-imageleft {float:right;}
    .aplus-v2 .aplus-standard .apm-sidemodule-imageright {position:relative; float:right; display:block;}
    html[dir='rtl'] .aplus-v2 .aplus-standard .apm-sidemodule-imageright {float:left;}

    /* A+ Template - Module 4 Specific CSS */
    .aplus-v2 .aplus-standard.aplus-module.module-4 th {padding: 0px; padding-right:30px; width:220px;}
    html[dir='rtl'] .aplus-v2 .aplus-standard.aplus-module.module-4 th {padding-left: 30px; padding-right: 0px;}
    .aplus-v2 .aplus-standard.aplus-module.module-4 th:last-of-type {padding-right:0px;}
    html[dir='rtl'] .aplus-v2 .aplus-standard.aplus-module.module-4 th:last-of-type {padding-left: 0px}

    /* A+ Template - Module 5 Specific CSS */
    .aplus-v2 .aplus-standard .apm-tablemodule {text-align:left; margin:0 auto; width:970px; display:table;}
    .aplus-v2 .aplus-standard table.apm-tablemodule-table {border-bottom:1px solid #dddddd; width: 970px; left:4%;table-layout: fixed}
    .aplus-v2 .aplus-standard th.apm-tablemodule-keyhead {border-top:1px solid #dddddd; padding:8px 14px 6px !important; background-color:#f7f7f7; font-weight:normal; color:#626262; float:none !important; margin-right:0; text-align:center; width:106px;}
    .aplus-v2 .aplus-standard tr.apm-tablemodule-keyvalue td {padding-top:8px !important; padding-left:14px; padding-bottom:8px; border-top:1px solid #dddddd; border-bottom:1px solid #dddddd; text-align:center;width:inherit!important}
    .aplus-v2 .aplus-standard .apm-tablemodule-valuecell.selected {background-color:#fff5ec;}
    .aplus-v2 .aplus-standard .apm-tablemodule-valuecell span {word-wrap:break-word;}
    .aplus-v2 .aplus-standard .apm-tablemodule-keyhead {border-right:1px solid #dddddd;}
    .aplus-v2 .aplus-standard .apm-tablemodule-blankkeyhead {border:0 !important; width:18%;}
    .aplus-v2 .aplus-standard .apm-tablemodule-image {background-color:#FFFFFF; padding:0 !important; text-align:center; overflow:hidden; vertical-align:bottom;}
    .aplus-v2 .aplus-standard .apm-tablemodule-imagerows > td > img {max-width:none !important;}
    .aplus-v2 .aplus-standard table.apm-tablemodule-table {margin-bottom: 6px!important;}
    .aplus-v2 .aplus-standard table.apm-tablemodule-table th {padding-bottom:8px; text-align:center;}
    .aplus-v2 .aplus-standard .apm-checked {text-align:center;}

    /* A+ Template - Module 6 Specific CSS */
    .aplus-v2 .aplus-standard .apm-hovermodule {text-align:left; margin:0 auto; width:970px; padding: 0; background-color:#ffffff; position:relative;}
    .aplus-v2 .aplus-standard .apm-hovermodule {text-align:inherit;}
    .aplus-v2 .aplus-standard .apm-hovermodule-slides {background-color:#ffffff; width:970px; height:300px;}
    .aplus-v2 .aplus-standard .apm-hovermodule-slides-inner {margin-left:345px; position:absolute; z-index:25;}
    html[dir='rtl'] .aplus-v2 .aplus-standard .apm-hovermodule-slides-inner {margin-left:0px; margin-right:345px;}
    .aplus-v2 .aplus-standard .apm-hovermodule-slidecontrol {padding-top: 14px;}
    html[dir='rtl'] .aplus-v2 .aplus-standard .apm-hovermodule-slidecontrol {left: 0px; right:345px;}
    .aplus-v2 .aplus-standard .apm-hovermodule-smallimage {vertical-align:top; display: inline-block; width:80px; cursor:pointer; margin-right:35px; padding:0;}
    html[dir='rtl'] .aplus-v2 .aplus-standard .apm-hovermodule-smallimage {margin-right:0px; margin-left:35px;}
    .aplus-v2 .aplus-standard .apm-hovermodule-smallimage-bg {background-color:#ffffff; width:80px; height:80px;}
    .aplus-v2 .aplus-standard .apm-hovermodule-smallimage-last {margin-right:0 !important;}
    html[dir='rtl'] .aplus-v2 .aplus-standard .apm-hovermodule-smallimage-last {margin-left:0 !important;}
    .aplus-v2 .aplus-standard .apm-hovermodule-smallimage a {text-transform:uppercase; font-size:11px; font-weight:bold;}
    .aplus-v2 .aplus-standard .apm-hovermodule-smallimage a:hover {text-decoration:none; color:#333333 !important;}
    .aplus-v2 .aplus-standard .apm-hovermodule-smallimage img {border:1px solid #888888;}
    .aplus-v2 .aplus-standard .apm-hovermodule-opacitymodon:hover {opacity:1 !important; filter:alpha(opacity=100) !important;}
    .aplus-v2 .aplus-standard .apm-hovermodule-opacitymodon img {opacity:0.3; filter:alpha(opacity=30);}
    .aplus-v2 .aplus-standard .apm-hovermodule-image {position:absolute; left:0; z-index: 1;}
    html[dir='rtl'] .aplus-v2 .aplus-standard .apm-hovermodule-image {right:0;}

    /* A+ Template - Module 9 Specific CSS */
    .aplus-v2 .aplus-standard.aplus-module.module-9 th.apm-center {padding: 0 35px 0 0; width:300px;}
    html[dir='rtl'] .aplus-v2 .aplus-standard.aplus-module.module-9 th.apm-center {padding: 0 0 0 35px; width:300px;}
    .aplus-v2 .aplus-standard.aplus-module.module-9 th.apm-center:last-of-type {padding:0px;}

    /*A+ Template - Module 11/12 Specific CSS */
    .aplus-v2 .aplus-standard .apm-heromodule-textright {align-self:center; right:50px; margin-left:auto; padding:15px; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#BBBBBB,endColorstr=#FFFFFF); background-color: rgb(0,0,0); background-color:rgba(0,0,0,0.7);color:white; width:250px;}
    html[dir='rtl'] .aplus-v2 .aplus-standard .apm-heromodule-textright {left: 50px; right:auto; margin-left:0; margin-right:auto;}
    .aplus-v2 .aplus-standard .apm-heromodule-textright h3,
    .aplus-v2 .aplus-standard .apm-heromodule-textright ul,
    .aplus-v2 .aplus-standard .apm-heromodule-textright ol,
    .aplus-v2 .aplus-standard .apm-heromodule-textright ul .a-list-item,
    .aplus-v2 .aplus-standard .apm-heromodule-textright ol .a-list-item {color:white}
    .aplus-v2 .aplus-standard.module-12 .textright {align-self:center; right:50px; margin-left:auto; padding:15px; color:black; width:250px; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#BBBBBB,endColorstr=#FFFFFF); background-color: rgb(255,255,255); background-color:rgba(255,255,255,0.7);}
    html[dir='rtl'] .aplus-v2 .aplus-standard.module-12 .textright {left: 50px; right:auto; margin-left:0; margin-right:auto;}
    .aplus-v2 .aplus-standard.module-12 .apm-hero-image,.aplus-v2 .aplus-standard.module-11 .apm-hero-image{float:none}
    .aplus-v2 .aplus-standard.module-12 .apm-hero-image img,.aplus-v2 .aplus-standard.module-11 .apm-hero-image img{position:absolute}
    .aplus-v2 .aplus-standard.module-12 .apm-hero-text,.aplus-v2 .aplus-standard.module-11 .apm-hero-text{position:relative}
    .aplus-v2 .aplus-standard.module-11 .aplus-module-content,.aplus-v2 .aplus-standard.module-12 .aplus-module-content{min-height:300px; display: flex}

    /* module 13 text */
    .aplus-v2 .aplus-standard .aplus-module-13 {
        padding: 40px 0;
        max-width: 979px;
    }
   .aplus-v2 .aplus-standard .aplus-module-13 .aplus-13-heading-text {
        padding-bottom: 10px;
    }
    .aplus-v2 .aplus-standard .aplus-module-13 p {
        text-align: left;
        padding-bottom: 10px;
    }
    .aplus-v2 .aplus-standard .aplus-module-13 p {
        text-align: inherit;
    }

    @media (max-width: 800px) {
        /* Main Media Queries */
        .aplus-v2 .aplus-standard .acs-ux-wrapfix {width:100%;}
        .aplus-v2 .aplus-standard .aplus-module-wrapper {width:100%;}
        /*.aplus-v2 .aplus-standard .apm-leftimage {float:none;}*/

        html[dir='rtl'] .aplus-v2 .aplus-standard .acs-ux-wrapfix {width:100%;}
        html[dir='rtl'] .aplus-v2 .aplus-standard .aplus-module-wrapper {width:100%;}
        html[dir='rtl'] .aplus-v2 .aplus-standard .apm-leftimage {float:none;}

        .aplus-v2 .aplus-standard .apm-centerthirdcol ul,
        .aplus-v2 .aplus-standard .apm-centerthirdcol ol {margin-left: 14px;}
        html[dir='rtl'] .aplus-v2 .aplus-standard .apm-centerthirdcol ul,
        html[dir='rtl'] .aplus-v2 .aplus-standard .apm-centerthirdcol ol {margin-left: 0px; margin-right: 14px;}

        /* Module1 Media Queries */
        .aplus-v2 .aplus-standard .apm-lefttwothirdswrap {float:none; width:100%; margin:0;}
        .aplus-v2 .aplus-standard .apm-leftimage p {display:none;}
        .aplus-v2 .aplus-standard .apm-centerthirdcol {float:none; width:100%;}
        .aplus-v2 .aplus-standard .apm-listbox {width:100%;}
        /*.aplus-v2 .aplus-standard .apm-rightthirdcol {float:none; width:100%; border-left:none; padding:0; margin:0; margin-bottom:20px;}*/
        .aplus-v2 .aplus-standard .apm-rightthirdcol-inner img {display:block; margin:auto;}

        html[dir='rtl'] .aplus-v2 .aplus-standard .apm-lefttwothirdswrap {float:none; width:100%; margin:0;}
        html[dir='rtl'] .aplus-v2 .aplus-standard .apm-leftimage p {display:none;}
        html[dir='rtl'] .aplus-v2 .aplus-standard .apm-centerthirdcol {float:none; width:100%;}
        html[dir='rtl'] .aplus-v2 .aplus-standard .apm-listbox {width:100%;}
        html[dir='rtl'] .aplus-v2 .aplus-standard .apm-rightthirdcol {float:none; width:100%; border-left:none; padding:0; margin:0; margin-bottom:20px;}
        html[dir='rtl'] .aplus-v2 .aplus-standard .apm-rightthirdcol-inner img {display:block; margin:auto;}

        /* Module2/3 Media Queries */
        .aplus-v2 .aplus-standard .apm-sidemodule {width:100%; height:auto;}
        .aplus-v2 .aplus-standard .apm-sidemodule-imageleft {width:100%; position:relative; display:block; margin-bottom:15px;}
        .aplus-v2 .aplus-standard .apm-sidemodule-imageleft img {display:block; margin:0 auto;}
        .aplus-v2 .aplus-standard .apm-sidemodule-imageright {width:100%; position:relative; display:block; margin-bottom:15px;}
        .aplus-v2 .aplus-standard .apm-sidemodule-imageright img {display:block; margin:0 auto;}
        .aplus-v2 .aplus-standard .apm-sidemodule .a-spacing-medium {margin-bottom:30px !important;}

        html[dir='rtl'] .aplus-v2 .aplus-standard .apm-sidemodule {width:100%; height:auto;}
        html[dir='rtl'] .aplus-v2 .aplus-standard .apm-sidemodule-imageleft {width:100%; position:relative; display:block; margin-bottom:15px;}
        html[dir='rtl'] .aplus-v2 .aplus-standard .apm-sidemodule-imageleft img {display:block; margin:0 auto;}
        html[dir='rtl'] .aplus-v2 .aplus-standard .apm-sidemodule-imageright {width:100%; position:relative; display:block; margin-bottom:15px;}
        html[dir='rtl'] .aplus-v2 .aplus-standard .apm-sidemodule-imageright img {display:block; margin:0 auto;}
        html[dir='rtl'] .aplus-v2 .aplus-standard .apm-sidemodule .a-spacing-medium {margin-bottom:30px !important;}

        /* Module4 Media Queries */
        .aplus-v2 .aplus-standard .apm-fourthcol {margin:0; padding-bottom:23px; width:100%; float:none;}
        .aplus-v2 .aplus-standard .apm-fourthcol .apm-fourthcol-image {height:inherit;}

        html[dir='rtl'] .aplus-v2 .aplus-standard .apm-fourthcol {margin:0; padding-bottom:23px; width:100%; float:none;}
        html[dir='rtl'] .aplus-v2 .aplus-standard .apm-fourthcol .apm-fourthcol-image {height:inherit;}

        /* Module5 Media Queries */
        .aplus-v2 .aplus-standard table.apm-tablemodule-table {width:100%;}
        .aplus-v2 .aplus-standard .apm-tablemodule-valuecell {width:auto;}

        html[dir='rtl'] .aplus-v2 .aplus-standard table.apm-tablemodule-table {width:100%;}
        html[dir='rtl'] .aplus-v2 .aplus-standard .apm-tablemodule-valuecell {width:auto;}
    }

    /* aui hack */
    .aplus-v2 .aplus-standard * {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
    .aplus-v2 .aplus-standard .a-box mp-centerthirdcol-listboxer {-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;position: relative;padding: 14px 18px;}
    .aplus-v2 .aplus-standard .a-box {display: block;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;border: 1px #ddd solid;background-color: white;}
    .aplus-v2 .aplus-standard .a-color-alternate-background {background-color: #f3f3f3!important;}
    .aplus-v2 .aplus-standard .a-section {margin-bottom: 12px;}
    .aplus-v2 .aplus-standard .a-size-base {font-size: 13px!important;line-height: 19px!important;}
    .aplus-v2 .aplus-standard .a-spacing-base, .aplus-v2 .aplus-standard .a-ws .a-ws-spacing-base {margin-bottom: 14px!important;}
    .aplus-v2 .aplus-standard .a-spacing-large, .aplus-v2 .aplus-standard .a-ws .a-ws-spacing-large {margin-bottom: 22px!important;}
    .aplus-v2 .aplus-standard .a-spacing-mini, .aplus-v2 .aplus-standard .a-ws .a-ws-spacing-mini {margin-bottom: 6px!important;}
    .aplus-v2 .aplus-standard .a-spacing-small, .aplus-v2 .aplus-standard .a-ws .a-ws-spacing-small {margin-bottom: 10px!important;}
    .aplus-v2 .aplus-standard a, .aplus-v2 .aplus-standard a:visited, .aplus-v2 .aplus-standard a:active, .aplus-v2 .aplus-standard a:link {text-decoration: none;}
    .aplus-v2 .aplus-standard a:hover {text-decoration: underline;cursor: pointer;}
    .aplus-v2 .aplus-standard h1, .aplus-v2 .aplus-standard h2, .aplus-v2 .aplus-standard h3, .aplus-v2 .aplus-standard h4 {font-family: Arial,sans-serif;text-rendering: optimizeLegibility;padding-bottom: 4px;}
    .aplus-v2 .aplus-standard h1, .aplus-v2 .aplus-standard h2, .aplus-v2 .aplus-standard h3, .aplus-v2 .aplus-standard h4 {font-family: inherit;}
    .aplus-v2 .aplus-standard h1, .aplus-v2 .aplus-standard h2, .aplus-v2 .aplus-standard h3, .aplus-v2 .aplus-standard h4, .aplus-v2 .aplus-standard h5, .aplus-v2 .aplus-standard h6 {padding: 0;margin: 0;}
    .aplus-v2 .aplus-standard h3{font-weight: bold;font-size: 17px;line-height: 1.255;}
    .aplus-v2 .aplus-standard h4 {font-weight: normal;font-size: 17px;line-height: 1.255;}
    .aplus-v2 .aplus-standard h5 {font-weight: bold;font-size: 13px;line-height: 19px;}
    .aplus-v2 .aplus-standard img {vertical-align: top;max-width: 100%;}
    .aplus-v2 .aplus-standard p {padding: 0;margin: 0 0 14px 0;}
    .aplus-v2 .aplus-standard ul li {list-style: disc;}
    .aplus-v2 .aplus-standard ul {margin: 0 0 18px 18px;}
    .aplus-v2 .aplus-standard ul, .aplus-v2 .aplus-standard ol {padding: 0;}
    .aplus-v2 .aplus-standard ul:last-child, .aplus-v2 .aplus-standard ol:last-child {margin-bottom: 0!important;}
    .aplus-v2 .aplus-standard .read-more-arrow-placeholder {text-align: right; cursor: pointer; display:none;}

</style>



    <div class="celwidget aplus-module 3p-module-b aplus-standard" cel_widget_id="aplus-3p-module-b" data-csa-c-id="ur1qoe-ghl5rv-45lg0b-7dpg9v" data-cel-widget="aplus-3p-module-b">
        <div class="aplus-module-wrapper aplus-3p-fixed-width">
            <img alt=" " src="/modules/things-to-dos/client/img/Tab-Tension/A+/main.png" class="a-spacing-base" >                                                    
        </div>
    </div>

    <div class="celwidget aplus-module module-1 aplus-standard" cel_widget_id="aplus-module-1" data-csa-c-id="hdf2ol-c57gf6-rlrc45-u4ihc9" data-cel-widget="aplus-module-1">
        <div class="aplus-module-wrapper apm-fixed-width">
            <div class="apm-spacing apm-wrap">
                <div class="apm-floatleft apm-wrap">
                    <div class="apm-leftimage">
                        <img alt=" " src="/modules/things-to-dos/client/img/Tab-Tension/A+/product.png" class="a-spacing-mini">
                        <br>
                    <p> </p>
                    </div>
                    <div class="apm-rightthirdcol">
                        <div class="apm-rightthirdcol-inner">
                            <img alt=" " src="/modules/things-to-dos/client/img/Tab-Tension/A+/logo.png" class="a-spacing-mini">         
                            <h5 class="a-color-secondary"> Spectrum by NovaScreen </h5>                              
                            <p class="a-spacing-small a-size-small a-color-secondary"> Our most popular Tab-tension projector screen series—ever.  We are committed to bring a high quality Tab-tension projection screen to our Customer. </p>     
                        </div>
                    </div>
                    <div class="apm-centerthirdcol apm-wrap">
                        <h3 class="a-spacing-mini"> Spectrum Tab-Tension </h3>                                                                  
                        <p class="a-spacing-base"> Make with “WF1 Pro Max 4K" Material, result in better resolution and clearer projection. </p>        
                        <p class="a-spacing-base"> Using Novascreen's proprietary Tab-tension technology, it maintains a flat viewing surface. </p>     
                        <div class="amp-centerthirdcol-listbox">
                            <div class="a-box a-spacing-small a-color-alternate-background apm-listbox amp-centerthirdcol-listbox">
                                <div class="a-box-inner">                             
                                    <ul class="a-unordered-list a-vertical">   
                                        <li>
                                            <span class="a-list-item"> 
                                                <span class="a-size-base"> Make with “WF1 Pro Max 4K" Material, result in better resolution and clearer projection.  Using Novascreen's proprietary Tab-tension technology, it maintains a flat viewing surface. </span> 
                                            </span>
                                        </li>   
                                        <li>
                                            <span class="a-list-item"> 
                                                <span class="a-size-base"> Tab-tension technology </span> 
                                            </span>
                                        </li>  
                                    </ul> 
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="clear:both"></div>
    </div>

    <div class="celwidget aplus-module module-9 aplus-standard" cel_widget_id="aplus-module-9" data-csa-c-id="wzsoab-68zaxl-eulof-7fe50l" data-cel-widget="aplus-module-9">
        <div class="aplus-module-wrapper apm-fixed-width">
            <div class="apm-spacing apm-fixed-width">
                <table class="apm-fixed-width apm-eventhirdcol-table">
                    <tbody>
                        <tr>
                            <th class="apm-center">
                                <div class="apm-eventhirdcol apm-floatleft">
                                    <p>
                                        <img alt=" " src="/modules/things-to-dos/client/img/Tab-Tension/A+/1material.png" class="a-spacing-mini">

                                    </p>
                                </div>
                            </th>
                            <th class="apm-center">
                                <div class="apm-eventhirdcol apm-floatleft">
                                    <p>
                                        <img alt=" " src="/modules/things-to-dos/client/img/Tab-Tension/A+/2cover.png" class="a-spacing-mini">

                                    </p>
                                </div>
                            </th>
                            <th class="apm-center">
                                <div class="apm-eventhirdcol apm-floatleft">
                                    <p>
                                        <img alt=" " src="/modules/things-to-dos/client/img/Tab-Tension/A+/3tabtension.png" class="a-spacing-mini">
  
                                    </p>
                                </div>
                            </th>
                        </tr>
                         <tr>
                            <td class="apm-top">
                                <div class="apm-eventhirdcol apm-floatleft">
                                    <h4 class="a-spacing-mini"> WF1 Pro Max 4k material </h4>                                    
                                    <p> 1.4 Gain 4K Ultra HD and Active 3D Ready FRONT Projection Screen with Black Backing Features a 160° viewing angle is Easy to Clean with soap and water. </p>    
                                </div>
                            </td>
                            <td class="apm-top">
                                <div class="apm-eventhirdcol apm-floatleft">
                                    <h4 class="a-spacing-mini"> Durable Aluminum Housing </h4>                                    
                                    <p> Streamlined aluminum housing with White enamel coating is moisture resistant, easy to install. And provide 4 more years longer service life than others. </p>    
                                </div>
                            </td>
                            <td class="apm-top">
                                <div class="apm-eventhirdcol apm-floatleft">
                                    <h4 class="a-spacing-mini"> Full of Tension  </h4>                                    
                                    <p> Tab-tension is designed to prevent curling that can ruin your viewing experience. The fully tensioned screen maintains a flat surface, perfect for entertainment, gaming, or education. </p>    
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div style="clear:both"></div>
    </div>

    <div class="celwidget aplus-module module-9 aplus-standard" cel_widget_id="aplus-module-9" data-csa-c-id="37647z-jltinj-ohika2-tyo0kp" data-cel-widget="aplus-module-9">
        <div class="aplus-module-wrapper apm-fixed-width">
            <div class="apm-spacing apm-fixed-width">
                <table class="apm-fixed-width apm-eventhirdcol-table">
                    <tbody>
                        <tr>
                            <th class="apm-center">
                                <div class="apm-eventhirdcol apm-floatleft">
                                    <p>
                                        <img alt=" " src="/modules/things-to-dos/client/img/Tab-Tension/A+/4motor.png" class="a-spacing-mini">

                                    </p>
                                </div>
                            </th>
                            <th class="apm-center">
                                <div class="apm-eventhirdcol apm-floatleft">
                                    <p>
                                        <img alt=" " src="/modules/things-to-dos/client/img/Tab-Tension/A+/5control.png" class="a-spacing-mini" >

                                    </p>
                                </div>
                            </th>
                            <th class="apm-center">
                                <div class="apm-eventhirdcol apm-floatleft">
                                    <p>
                                        <img alt=" " src="/modules/things-to-dos/client/img/Tab-Tension/A+/6-logo.png" class="a-spacing-mini">

                                    </p>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <td class="apm-top">
                                <div class="apm-eventhirdcol apm-floatleft">
                                    <h4 class="a-spacing-mini"> Heat-proof Friction Motor </h4>                                    
                                    <p> The inner tube thermal protection function reduces the damage to the screen surface caused by the lifting. </p>                            
                                </div>
                            </td>
                            <td class="apm-top">
                                <div class="apm-eventhirdcol apm-floatleft">
                                    <h4 class="a-spacing-mini"> Total Control </h4>                                    
                                    <p> Screen can be conveniently operated with infrared remote, radio frequency. It included wireless trigger feature allows for projector power cycle synching, for an amazing viewing experience. </p>                            
                                </div>
                            </td>
                            <td class="apm-top">
                                <div class="apm-eventhirdcol apm-floatleft">
                                    <h4 class="a-spacing-mini"> The Novascreen Advantage </h4>                                    
                                    <p> Join our family of over 500,000 happy users, and bring perfect visual enjoyment to your family. </p>                            
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div style="clear:both"></div>
    </div>

</div>
    
<!--my code end-->
                    </div>
                </main>
            </div>
        </div>
    </section>
    </div>
</div>
