.Collection_collectionList__2irfL {
    background: #f6f8f9
}

@media(min-width: 767px) {
    .Collection_collectionList__2irfL .Collection_crumbs__134VP {
        padding-left:1rem
    }
}

@media(max-width: 767px) {
    .Collection_collectionList__2irfL .Collection_crumbs__134VP {
        display:none
    }
}

.Collection_crumbsMenu__3Lu5o {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    cursor: pointer
}

.Collection_banner__6soeM {
    margin: 0 0 2rem;
    position: relative;
    overflow: hidden
}

.Collection_banner__6soeM img {
    width: 100%
}

@media(max-width: 767px) {
    .Collection_banner__6soeM img {
        width:130%;
        max-width: 130%;
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%)
    }
}

.Collection_products__r6eYE {
    padding-bottom: 2rem
}

@media(max-width: 767px) {
    .Collection_products__r6eYE {
        padding:0 1rem 1rem
    }
}

.Collection_productList__2qiQU {
    padding: rem 1.5rem 0;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    background: #fff
}

.Collection_productList__2qiQU .Collection_box__2BD2x {
    width: 25%;
    padding-bottom: 10px;
    border-bottom: 1px solid #f6f8f9;
    border-right: 1px solid #f6f8f9;
    background: #fff
}

@media(min-width: 1024px) {
    .Collection_productList__2qiQU .Collection_box__2BD2x:nth-child(4n) {
        border-right:none
    }
}

@media(min-width: 767px)and (max-width:1024px) {
    .Collection_productList__2qiQU .Collection_box__2BD2x {
        width:33.33%
    }

    .Collection_productList__2qiQU .Collection_box__2BD2x:nth-child(3n) {
        border-right: none
    }
}

@media(max-width: 767px) {
    .Collection_productList__2qiQU .Collection_box__2BD2x {
        width:50%
    }

    .Collection_productList__2qiQU .Collection_box__2BD2x:nth-child(2n) {
        border-right: none
    }
}

.Collection_productList__2qiQU .Collection_box__2BD2x a {
    display: block;
    cursor: pointer
}

.Collection_productList__2qiQU .Collection_img__175Gp {
    min-height: 200px;
    max-height: 400px;
    overflow: hidden
}

.Collection_productList__2qiQU .Collection_img__175Gp img {
    display: block;
    height: 100%;
    width: 100%;
    -webkit-object-fit: cover;
    object-fit: cover;
    -webkit-transition: all .3s;
    transition: all .3s
}

.Collection_productList__2qiQU .Collection_img__175Gp:hover img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
}

.Collection_productList__2qiQU .Collection_name__1qAbX {
    font-size: 16px;
    font-weight: 600;
    margin: 15px 1em
}

.Collection_productList__2qiQU .Collection_price__QE3yA {
    color: #00a7e1;
    font-size: 18px;
    font-weight: 600;
    margin: 15px 1em
}

.Collection_productList__2qiQU .Collection_colors__1_fUK {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    text-align: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    justify-content: center;
    margin-top: 1rem;
    min-height: 18px
}

.Collection_productList__2qiQU .Collection_colors__1_fUK .Collection_dot__FlW5A {
    width: 18px;
    height: 18px;
    color: transparent;
    display: inline-block;
    margin: 0 5px;
    border-radius: 50%;
    border: 1px solid #ccc;
    overflow: hidden
}

.Collection_err_page__37hCb {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem 0 6rem
}

.Collection_err_page__37hCb h1 {
    font-size: 6rem;
    text-align: center;
    color: #00a7e1;
    margin: 1rem
}

.Collection_err_page__37hCb h2 {
    font-size: 2rem;
    text-align: center;
    color: #999;
    margin: 1rem
}

.Collection_err_page__37hCb .Collection_link__ho7gX {
    display: block;
    font-size: 1.5rem;
    text-align: center;
    color: #00a7e1;
    margin-top: 4rem
}

.Collection_err_page__37hCb .Collection_link__ho7gX:hover {
    text-decoration: underline
}
